table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ABD289;
}
caption {
    padding: 20px;
    text-align: center;
  }
.header {
    text-decoration: underline;
    padding: 10px;
}
.ans{
    content-visibility: hidden;
    border: 1px solid black;
    padding: 20px;
}
.ans:hover{
    content-visibility: visible;
    transition: ease -1.5s;
}